.Header_div {
  width: 100%;
  display: flex;
  gap: 3em;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em 1em 2em;
}

.Header_logo {
  color: var(--First-color);
  font-size: 1.8em;
}

.Header_logo > a{
  color: var(--First-color);
  font-size: 1em;
}

.Header_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.Header_nav-tools {
    display: flex;
}

.Header_nav-toggle {
    font-size: 3em;
    display: flex;
    color: var(--Third-color);
    cursor: pointer;
}

.Header_nav-toggle:hover {
    color: var(--First-color);
}

.Header_nav-list {
  position: fixed;
  top: 0;
  margin-top: 78.4px;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: var(--Second-color);
  box-shadow: inset -10px 0 8px -9px var(--Shadow);
  transition: left 0.3s ease;
  z-index: 10000;
  padding: 1rem; 
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  align-items: center;
  padding-top: 4em;
}

.Header_nav-list.open {
  left: 0; /* Se desliza hacia dentro */
}

.Header_nav-item > a {
  color: var(--Third-color);
}

.Header_nav-item > a:hover {
  color: var(--First-color);
  border-bottom: 3px solid var(--First-color);
  border-radius: 0.2em;
}

.Header_active > a {
  color: var(--First-color);
  border-bottom: 3px solid var(--First-color);
  border-radius: 0.2em;
  transition: all 0.2s ease;
}


@media (min-width: 1066px) {
  .Header_div {
    width: 100%;
    display: flex;
    gap: 3em;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em 6em 1.3em 5em;
  }

  .Header_logo {
    color: var(--First-color);
    font-size: 1.8em;
  }

  .Header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Header_nav-tools {
    flex-direction: column;
    position: fixed;
    right: 6em;
    justify-content: center;
    align-items: center;
    margin-top: 12.5em;
    gap: .5em;
  }

  .Header_nav-toggle {
    display: none;
  }

  .Header_nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.2em;
    position: relative;
    top: 0;
    margin-top: 0em;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    transition: left 0s ease;
    z-index: 0;
    padding: 0rem; 
    padding-top: 0em;
    text-align: center;
  }

  .Header_nav-item > a {
    color: var(--Third-color);
  }

  .Header_active > a {
   color: var(--First-color);
   border-bottom: 3px solid var(--First-color);
   border-radius: 0.2em;
 }
}
