.Skills {
  padding: .7em;
  background-color: var(--Second-color);
  padding-bottom: 6em;
  padding-top: 6em;
}

.Skills_title {
  font-size: 30px;
	text-align: center;
  margin-bottom: 1em;
  color: var(--Third-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .2em;
}

.Habiliti {
  color: var(--First-color);
}
.bx-bracket-curly {
  background-color: var(--First-color);
  font-size: 3em;
}

.Skills_skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.Skills_skill {
  width: 100%;
  max-width: 30em;
  border: 1px solid var(--Five-color);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .8em;
  margin-top: .5em;
  padding-bottom: 2em;
}

.laptop {
  font-size: 1.1em;
  color: var(--color3);
  margin-right: -.1em;
}

.Skills_icon {
  font-size: 3.4em;
  color: var(--First-color);
  margin-top: .4em;
  margin-bottom: .3em;
}

.Skill_profetion-title {
  font-size: 21px;
  margin-top: 0em;
  color: var(--Third-color);
}

.Skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-left: 0em;
  gap: 1em;
  margin-top: 2em;
  width: 100%;
}

.Skills_container > div {
  background-color: var(--Second-color);
  width: 4.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .2em;
  border-radius: .5em;
}

.Skills_container > div > i {
  font-size: 3em;
}

.Skills_container > div > h1 {
   font-size: 14.9px;
   font-weight: 500;
   line-height: 1.4rem;
   color: var(--Fourt-color);
}

.Skills_container > div > img {
  max-width: 2.8em;
}

.bxl-html5 {
  font-size: 66px;
  color: rgb(224, 96, 22);
}

.bxl-css3 {
  font-size: 66px;
  color: rgb(16, 119, 255);
}

.bxl-bootstrap {
  font-size: 66px;
  color: rgb(162, 0, 255);
}

.bxl-javascript {
  font-size: 66px;
  color: rgb(211, 211, 24);
}

.bxl-typescript {
  font-size: 66px;
  color: rgb(27, 99, 255);
}

.bxl-python {
  font-size: 66px;
}

.bxl-react {
  font-size: 66px;
  color: aqua;
}

.bxl-redux {
  font-size: 66px;
  color: blueviolet;
}

.bxl-angular {
  font-size: 66px;
  color: rgb(220, 20, 20);
}

.bxl-vuejs {
  font-size: 66px;
  color: rgb(10, 145, 102);
}

.bxl-nodejs {
  font-size: 66px;
  color: green;
}

.bxl-postgresql {
  font-size: 66px;
  color: rgb(23, 73, 254);
}

.bxl-mongodb {
  font-size: 66px;
  color: rgb(11, 185, 78);
}

.bxl-github {
  font-size: 66px;
  color: var(--Third-color);
}

.bxl-git {
  color: rgb(236, 92, 36);
}



@media (min-width: 800px) {

.Skills_skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.Skills_title {
  font-size: 35px;
	text-align: center;
  margin-bottom: 1em;
}
  
.Skills_skill {
  width: 100%;
  max-width: 22em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .8em;
  margin-top: 0em;
  padding-bottom: 2em;
}

.Skills_icon {
  font-size: 3.2em;
  color: var(--First-color);
  margin-top: .4em;
}

.Skill_profetion-title {
  font-size: 20px;
  margin-top: .7em;
}

.Skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1em;
  margin-top: 2em;
  width: 100%;
  padding-left: .5em;
}

.Skills_container > div {
  background-color: var(--Second-color);
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .2em;
  border-radius: .5em;
}

.Skills_container > div > i {
  font-size: 2.5em;
}

.Skills_container > div > h1 {
   font-size: 13.4px;
   font-weight: 500;
   line-height: 1.4rem;
   color: var(--Fourt-color);
}

.Skills_container > div > img {
  max-width: 2.5em;
}

}