.Footer {
	background: var(--color5);
	color: var(--color14);
	padding: 1em;
	width: 100%;
	border-top: 1px solid var(--color5);
}
.Footer_one {
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.Footer_div1 {
	width: 100%;
	max-width: 15em;
}
.Footer_div1 > h1 {
	margin-top: 1em;
	margin-bottom: .5em;
	color: var(--color8);
}
.Footer_div1 > p {
	font-weight: 300;
}
.Footer_div2 > h1 {
	color: var(--color8);
}
.Footer_div2 > ul {
	display: flex;
	flex-direction: column;
	gap: .4em;
	margin-top: .6em;
}
.Footer_div2 > ul >  a> li > i {
	background-color: var(--color14);
	color: var(--color2);
	border-radius: 50%;
	font-weight: 700;
}
.Footer_div2 > ul > a > li {
    font-weight: 300;
	cursor: pointer;
	color: var(--color14);
}
.Footer_div2 > ul > li:hover {
	color: var(--color8);
}
.Footer_div2 > ul > a > li > i:hover {
	background-color: var(--color8);
	color: var(--color2);
	cursor: pointer;
}
.Footer_div3 > h1 {
	color:  var(--color8);
}
.Footer_div3_ul{
	display: flex;
	flex-direction: column;
	gap: .4em;
	margin-top: .6em;
}
.Footer_div3_ul> li{
	font-weight: 300;
}
.Footer_div3_ul > li > span {
	color: var(--color8);
}
.Footer_div3_ul1 {
	display: flex;
	margin-top: 1.5em;
	margin-bottom: 3em;
	gap: .8em;
	flex-wrap: wrap;
}
.Footer_div3_ul1 > a {
    width: 100%;
	max-width: 2.5em;
}
.Footer_div3_ul1 > a > li {
	background-color: var(--color14);
	border-radius: 50%;
	padding: .2em;
	color: var(--color2);
	font-size: 1.8em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Footer_two {
	text-align: center;
	font-size: .6em;
	margin-top: 2em;
}
.Footer_fin {
	color: var(--color8);
}
hr {
	width: 100%;
	max-width: 67em;
	margin: auto;
}
@media (min-width: 700px) {
	.Footer_one {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: start;
		margin-top: 2em;
	}
	.Footer_div1 > h1 {
		margin-top: .1em;
		margin-bottom: .5em;
	}
	.Footer_div2 > ul {
		display: flex;
		flex-direction: column;
		gap: .4em;
		margin-top: .6em;
		margin-bottom: 2em;
	}
}