.Projects {
	width: 100%;
	background: var(--color4);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 3em;
}
.Projects_title {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: .2em;
	margin-bottom: 1.3em;
	font-size: 1.6em;
	color: var(--color2);
}
.folder {
	font-size: 1.5em;
}
.pro{
	color: var(--color3);
}
.Projects_todos{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 1em;
	gap: 2em;
}
.Projects_Project {
    width: 100%;
	max-width: 20em;
	background: var(--color4);
	border: 1px solid var(--color2);
	border-radius: 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	text-align: center;
	box-shadow: 2px -2px 10px 2px var(--Shadow-Unis)
}
.Projects_Project:hover {
    width: 100%;
	max-width: 20em;
	background: var(--color4);
	border: 1px solid var(--color3);
	border-radius: 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	text-align: center;
	box-shadow: 2px -2px 10px 2px var(--Shadow-Unis)
}
.Projects_Project > h1  {
	color: var(--color3);
}
.Projects_Project > figure  {
	padding: .6em;
}
.Projects_Project > figure > img {
	border-radius: .5em .5em 0em 0em;
	border: 1px solid var(--Titles);
}
.Projects_Project > div {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.Projects_Project > div > span > a {
	border-bottom: 2px solid var(--color2);
	color: var(--color2);
	cursor: pointer;
}
.Projects_Project > div > span > a:hover {
	border-bottom: 2px solid var(--color3);
	color: var(--color3);
}