
/* Menú lateral */
.side-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Oculto fuera de pantalla */
  width: 250px;
  height: 100vh;
  background-color: var(--Second-color);
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 1rem;
}

.side-menu.open {
  left: 0; /* Se desliza hacia dentro */
}

.Menu1 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 2.3em;
	align-items: center;
	margin-top: 7em;
}

.Clears {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 2.3em;
	align-items: center;
	margin-top: 7em;
}