.Menu {
	background: var(--color1);
	z-index: 100000000000000000000;
	width: 100%;
	height: 30em;
	position: fixed;
	margin-top: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Menu1 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 2.3em;
	align-items: center;
}

.Menu1 > a {
	color: var(--color3);
}

.Menu1 > a:hover {
	color: var(--color7);
}


.Clear {
	background-color: rgb(255, 247, 0);
	z-index: 100000000000000000000;
	position: fixed;
	width: 100%;
	margin-top: 5em;
	height: 0;
	display: none;
}