.Start {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-top: 10em;
  justify-content: center;
}

.Start_alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--Five-color);
  border: 0.1px solid var(--First-color);
  color: var(--Third-color);
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  animation: flyIn 0.4s ease forwards, flyOut 0.4s ease 2.6s forwards;
  z-index: 999999999;
}


.Start_container-one {
  width: 100%;
  max-width: 25em;
  display: grid;
  text-align: start;
  margin: auto;
}

.Start_welcome > h1 {
  font-size: 2.25rem;
}

.Start_name {
  color: var(--Third-color);
}

.Start_firtsname {
  color: var(--First-color);
}

.Start_welcome > h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--Fourt-color);
  font-weight: 400;
  margin-top: 16px;
}

.Start_welcome > p {
  font-size: 16px;
  line-height: 1.5rem;
  color: var(--Fourt-color);
  font-weight: 400;
  margin-top: 22px;
  width: 100%;
  max-width: 22em;
}

.Start_buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;
  gap: 0.8em;
}

.Start_buttons > button {
  width: 100%;
  padding: 0.7em;
  font-size: 14px;
  font-weight: 450;
  border-radius: 0.5em;
}

.Start_btn1 {
  background-color: var(--First-color);
  color: var(--Second-color);
  border: 1px solid var(--First-color);
  cursor: pointer;
}

.Start_btn2 {
  background-color: var(--Second-color);
  border: none;
  border: 1px solid var(--Five-color);
  color: var(--Third-color);
  cursor: pointer;
}

.Start_btn2 > a {
  color: var(--Third-color);
}

.Start_btn3 {
  background-color: var(--Five-color);
  color: var(--Third-color);
  border: 1px solid var(--Five-color);
  cursor: pointer;
}

.Start_urls {
  display: flex;
  gap: 1em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.Start_urls > a {
  font-size: 1em;
}

.Start_urls > a > li > i {
  font-size: 2em;
  color: var(--Fourt-color);
}

.Start_container-two {
  width: 100%;
}

.Start_container-two > figure > img {
  width: 100%;
  max-width: 30em;
  margin: auto;
  border-radius: 0.7em;
}

@media (min-width: 500px) {

  .Start_container-one {
    width: 100%;
    max-width: 30em;
    display: grid;
    text-align: center;
    margin: auto;
  }

  .Start_welcome > h1 {
    width: 100%;
    max-width: 15em;
    margin: auto;
  }

  .Start_welcome > p {
    max-width: 30em;
  }
}

@media (min-width: 954px) {
  .Start {
    width: 100%;
    max-width: 65em;
    display: flex;
    flex-direction: row;
    padding: 16px;
    padding-top: 8em;
    justify-content: center;
    align-items: start;
    gap: 1em;
    margin: auto;
  }

  .Start_container-one {
    text-align: start;
    max-width: 100%;
    padding-top: 2em;
  }

  .Start_welcome > h1 {
    width: 100%;
    max-width: 11em;
    margin: 0;
    font-size: 2.8em;
  }

  .Start_welcome > p {
    max-width: 27em;
  }

  .Start_buttons > button {
    width: 100%;
    max-width: 10em;
    padding: 0.7em;
    font-size: 14px;
    font-weight: 450;
    border-radius: 0.5em;
  }

  .Start_urls {
    display: flex;
    gap: 1em;
    margin-top: 1.5em;
    margin-bottom: 2em;
  }

  .Start_container-two {
    max-width: 100%;
  }

  .Start_container-two > figure > img {
    width: 100%;
    max-width: 26em;
    margin: auto;
    border-radius: 0.7em;
  }
}

@media (min-width: 1450px) {
  .Start {
    padding-top: 8em;
    padding-left: 3em;
    gap: 4em;
    max-width: 75em;
  }

  .Start_container-one {
    margin-top: 1.5em;
  }

  .Start_welcome > h1 {
    font-size: 3.3em;
  }

  .Start_welcome > h2 {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  .Start_welcome > p {
    max-width: 30em;
    font-size: 1.25rem;
    line-height: 1.8rem;
  }

  .Start_container-two > figure > img {
    width: 100%;
    max-width: 31em;
    margin: auto;
    border-radius: 0.7em;
  }
}


@keyframes flyIn {
  0% {
    transform: translate(-50%, -30px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes flyOut {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -30px);
    opacity: 0;
  }
}