
.DiplomaSena {
    width: 100%;
    max-width: 20.5em;
    height: 14.9em;
    background-image: url(../../../../../images/Certificado-Tecnologo.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: start; 
	border: 7px solid rgb(76, 19, 102);
}
.Clear_Diploma {
	transform: scale(0);
	height: 0em;
}

.DiplomaSena > div {
	background-color: rgba(13, 22, 66, 0.719);
	height: 100%;
	width: 100%;
	padding: 1em;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.DiplomSena > div > button {
    background-color: blueviolet;
	color: white;
	width: 100%;
	max-width: 7em;
	right: 0;
	border: none;
	padding: .5em;
	border-radius: 1em;
	cursor: pointer;
}
.DiplomaSena1 {
    width: 100%;
    max-width: 20.5em;
    height: 14.9em;
    background-image: url(../../../../../images/Leven1.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: start; 
	border: 7px solid rgb(76, 19, 102);
	background-color: white;
}
.DiplomaSena1 > div {
	background-color: rgba(13, 22, 66, 0.719);
	height: 100%;
	width: 100%;
	padding: 1em;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.DiplomaSena1 > div > button {
    background-color: blueviolet;
	color: white;
	width: 100%;
	max-width: 7em;
	right: 0;
	border: none;
	padding: .5em;
	border-radius: 1em;
	cursor: pointer;
}
.DiplomaSena2 {
    width: 100%;
    max-width: 20.5em;
    height: 14.9em;
    background-image: url(../../../../../images/Leven2.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: start; 
	border: 7px solid rgb(76, 19, 102);
	background-color: white;
}
.DiplomaSena2 > div {
	background-color: rgba(13, 22, 66, 0.719);
	height: 100%;
	width: 100%;
	padding: 1em;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.DiplomaSena2 > div > button {
    background-color: blueviolet;
	color: white;
	width: 100%;
	max-width: 7em;
	right: 0;
	border: none;
	padding: .5em;
	border-radius: 1em;
	cursor: pointer;
}
.DiplomaSena3 {
    width: 100%;
    max-width: 20.5em;
    height: 14.9em;
    background-image: url(../../../../../images/Leven3.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: start; 
	border: 7px solid rgb(76, 19, 102);
	background-color: white;
}
.DiplomaSena3 > div {
	background-color: rgba(13, 22, 66, 0.719);
	height: 100%;
	width: 100%;
	padding: 1em;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.DiplomaSena3 > div > button {
    background-color: blueviolet;
	color: white;
	width: 100%;
	max-width: 7em;
	right: 0;
	border: none;
	padding: .5em;
	border-radius: 1em;
	cursor: pointer;
}
.DiplomaSena4 {
    width: 100%;
    max-width: 20.5em;
    height: 14.9em;
    background-image: url(../../../../../images/Leven4.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: start; 
	border: 7px solid rgb(76, 19, 102);
	background-color: white;
}
.DiplomaSena4 > div {
	background-color: rgba(13, 22, 66, 0.719);
	height: 100%;
	width: 100%;
	padding: 1em;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.DiplomaSena4 > div > button {
    background-color: blueviolet;
	color: white;
	width: 100%;
	max-width: 7em;
	right: 0;
	border: none;
	padding: .5em;
	border-radius: 1em;
	cursor: pointer;
}

.DiplomaSena5 {
    width: 100%;
    max-width: 20.5em;
    height: 14.9em;
    background-image: url(../../../../../images/Leven5.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: start; 
	border: 7px solid rgb(76, 19, 102);
	background-color: white;
}
.DiplomaSena5 > div {
	background-color: rgba(13, 22, 66, 0.719);
	height: 100%;
	width: 100%;
	padding: 1em;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.DiplomaSena5 > div > button {
    background-color: blueviolet;
	color: white;
	width: 100%;
	max-width: 7em;
	right: 0;
	border: none;
	padding: .5em;
	border-radius: 1em;
	cursor: pointer;
}

.DiplomaSena6 {
    width: 100%;
    max-width: 20.5em;
    height: 14.9em;
    background-image: url(../../../../../images/Leven6.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: start; 
	border: 7px solid rgb(76, 19, 102);
	background-color: white;
}
.DiplomaSena6 > div {
	background-color: rgba(13, 22, 66, 0.719);
	height: 100%;
	width: 100%;
	padding: 1em;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.DiplomaSena6 > div > button {
    background-color: blueviolet;
	color: white;
	width: 100%;
	max-width: 7em;
	right: 0;
	border: none;
	padding: .5em;
	border-radius: 1em;
	cursor: pointer;
}

.Diploma_ImageSenaT {
	position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		padding: 1em;
		background: var(--color9);
		backdrop-filter: blur(4px);
		padding-top: 0em;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 3em;
		padding-bottom: 10em;
}

.Tecnologo{
	max-width: 22em;
}
.Viw {
	background-color: blueviolet;
	color: white;
	width: 100%;
	max-width: 7em;
	right: 0;
	border: none;
	padding: .5em;
	border-radius: 1em;
	cursor: pointer;
}
@media (min-width: 800px) {
	
	.Diploma_ImageSenaT {
		position: fixed;
		top: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		left: 0;
		height: 100vh;
		padding: 1em;
		transition: transform 500ms ease;
		overflow: scroll;
		padding-top: 15em;
		padding-bottom: 4em;
	}
	.exitSenaT{
		width: 100%;
		text-align: center;
		margin-top: -3em;
		margin-bottom: 1em;
		position: fixed;
		margin-top: -45em;
		max-width: 90px;
		left: 0;
		margin-left: 19em;
	}
	.exitSenaT > i {
		font-size: 3.4em;
		color: white;
		cursor: pointer;
	}
	.Tecnologo{
		max-width: 29em;
	}
} 