.Diplomados {
    width: 100%;
	height: 105vh;
}

.Diplomados_exit {
    padding-top: 2.5em;
    width: 100%;
    position: fixed;
    padding-bottom: 2em;
}

.Diplomados_exit > h1 {
	font-size: 1.2em;
    padding-left: 1em;
	color: var(--color3);
	cursor: pointer;
    border-bottom: 2px solid var(--color3);
    width: 100%;
    max-width: 4.5em;
    border-radius: 1px 1px 10px 1px;
    background-color: var(--color1);
    padding-top: 3em;
} 

.Diplomados__carrer-diploma {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 66em;
	margin: auto;
}

.Diplomados__title {
	font-size: 1.2em;
}

.Diplomados__complementarios {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;
	flex-wrap: wrap;
    margin-bottom: 5em;
}

.Education_Diplomas {
	width: 100%;
	height: 100vh;
	background: var(--color1);
	position: fixed;
	top: 0;
	padding: 2em;
	padding-top: 6em;
	overflow-y: scroll;
	z-index: 100000;
}

.Academlo_title {
	padding: 3em;
}

.Diplomado__exit {
    width: 100%;
    margin: auto;
	margin-bottom: 3em;
	text-align: center;
	margin-top: 4em;
}

.Diplomado__exit > i {
	background-color: var(--color3);
	color: var(--color1);
	padding: .4em;
	font-size: 1.3em;
	border-radius: 50%;
	cursor: pointer;
}

.Diploma_Image {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	padding: 1em;
	background: var(--color9);
	backdrop-filter: blur(4px);
	padding-top: 7em;
}

.Diploma_Image > img {
	width: 100%;
	max-width: 40em;
	margin-top: 0em;
}

.Image_Clear {
	display: none;
}

@media (min-width: 639px) {
	.Diplomados__carrer-diploma {
		display: flex;
		align-items: center;
		justify-content: start;
		width: 100%;
		max-width: 66em;
		margin: auto;
	}

	.Diplomados__complementarios {
		width: 100%;
		max-width: 72em;
		margin: auto;
		margin-bottom: 2em;
	}

	.Diplomado__exit {
		width: 100%;
		margin: auto;
		margin-bottom: 0em;
		margin-top: 3em;
		text-align: end;
		width: 100%;
		max-width: 45em;
	}
	
	.Diplomado__exit > i {
		background-color: var(--color3);
		color: var(--color1);
		padding: .4em;
		font-size: 1.3em;
		border-radius: 50%;
		cursor: pointer;
	}

	.Diploma_Image {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		padding: 1em;
		background: var(--color9);
		backdrop-filter: blur(4px);
		padding-top: 0em;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 3em;
		padding-bottom: 10em;
	}
	
	.Diploma_Image > img {
		width: 100%;
		max-width: 39em;
		margin-top: 0em;
	}
}
