.About{
    max-width: 82%;
    margin: auto;
    padding-top: 1em;
    border-radius: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    padding: 2em;
    padding-bottom: 10em;
}
@media (min-width: 700px) {
    .About{
        max-width: 82%;
        margin: auto;
        padding-top: 1em;
        border-radius: 1em;
        padding-bottom: 1em;
        margin-top: 2em;
        box-shadow: none;
        padding: 2em;
    }
    .About > h1 {
        font-size: 2.6em;
        border-bottom: 5px solid var(--bg-300);
        width: 8em;
        margin-bottom: 1.5em;
    }
    .About > p {
        font-size: 1.4em;
    }
}
