.footer{
    height: 16em;
    background-color: var(--footer);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
      
}
.footer_tittle{
    color: var(--title);
    text-shadow: 1px 1px rgba(17, 187, 230, 0.795);
    font-size: 1.5em;
    margin-top: 2em;
}
.footer_name{
    color: var(--text);
    font-size: 1em;
    font-weight: 590;
    margin-bottom: 1em;
}
.footer_perfiles{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--textBotom);
    width: 90%;
    height: .1px;
    border-radius: 50%;
}
.imagess{
    width: 20px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 12px;
   background-color: var(--textBotom);
   border-radius: 0.5em;
   width: 2em;
   padding: 2px;
   object-fit: contain;
}
.ima{
    width: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    font-size: 12px;
    background-color: var(--textBotom);
    border-radius: 0.5em;
    padding: 2px;
    object-fit: contain;
}
.fin{
    color: var(--text);
    font-size: .8em;
    margin-top: 1em;
}
.f{
  transform: scale(0);
}

@media (min-width: 700px) {
    .footer{
    display: flex;
    flex-direction: initial;
    gap: 20em;
    }
    .footer_tittle{
        font-size: 1.5em;
        margin-top: -3em;
        margin-bottom: .2em;
    }
    .footer_name{
        font-size: 1em;
        margin-bottom: 0em;
    }
    .footer_perfiles{
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;
        height: .1px;
        border-radius: 50%;
        position: absolute;
        margin-top: 2.5em;
    }
    .imagess{
        width: 20px;
       text-align: center;
       display: flex;
       flex-direction: column;
       align-items: center;
       font-size: 12px;
       border-radius: 0.5em;
       width: 2em;
       padding: 2px;
    }
    .ima{
        width: 3em;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        border-radius: 0.5em;
        padding: 2px;
    }
    .fin{
        font-size: .8em;
        margin-top: -3.5em;
    }
    .f{
        position: absolute;
        margin-top: 7em;
        font-size: .9em;
        transform: scale(1);
        color: var(--title);
}
}
