.Home {
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding-top: 4em;
    padding-bottom: 1em;
    margin-top: 6.8em;
    transition: all 1s ease-in-out;
    position: relative;
    padding: 1em 3em 2em 3em;
    display: grid;
    gap: 1.5em;
    font-size: 14px;
    border-radius: 1em;
}

.Home__image {
    border-bottom: 2px solid var(--bg-300);
    max-width: 25em;
    margin: auto;
    padding: 0em 1.4em 0em 1.4em;
   margin-top: 3em;
}
.Home__image-img{
  width: 100%;
  max-width: 300em;
}

.Home__info {
    display: grid;
    gap: 1em;
}

.Home__info-title{
    color: var(--textTitle);
    font-size: 24px;
}

.Home__info-text {
    margin-bottom: 1em;
    font-size: 14px;
    color: var(--text);
}

.Home__footer {
    display: flex;
    gap: .15em;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.Home__button {
    padding: 7px;
    border: none;
    border-radius: .5em .5em 0em 0em;
    background-color: var(--bg-300);
    color: var(--title);
    font-size: 12px;
    cursor: pointer;
    height: 3em;
    width: 10em;
}
.Home__button:hover {
  filter: contrast(1.5);
}


.Home__image-img1 {
   transform: scale(0);
   height: 0;
}


.Home__button0 {
background-color: var(--bg-300);
border: none;
display: flex;
align-items: center;
color: var(--title);
border-radius: .5em 0em 0em .5em;
padding: .2em;
height: 3em;
font-size: 10px;
  }
  

.bxl-linkedin-square {
    font-size: 2.5em;
}
.barra {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2px;
    margin-top: -1.4em;
    justify-content: center;
  }
  
.Home__button1 {
    background-color: var(--bg-300);
    border: none;
    display: flex;
    align-items: center;
    color: var(--title);
    height: 3em;
    padding: .5em;
font-size: 10px;
  }

  .Home__button2 {
    background-color: var(--bg-300);
    border: none;
    display: flex;
    align-items: center;
    color: var(--title);
    height: 3em;
    padding: .5em;
font-size: 10px;
  }

  .Home__button3 {
    background-color: var(--bg-300);
    border: none;
    display: flex;
    align-items: center;
    color: var(--title);
    height: 3em;
    padding: .5em;
font-size: 10px;
    border-radius: 0em .5em .5em 0em;
  }
  .ver {
    color: rgb(0, 195, 255);
    border-bottom: 1px solid rgb(0, 204, 255);
  }
.bx_H{
  transform: scale(0);
}



@media (min-width: 1000px) {
   .Home {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    padding-right: 10em;
    box-shadow: none;
    position: relative;
   }

   .Home__images {
    order: 2;
   }
   .Home__image {
    transform: scale(0);
    height: 0;
    width: 0;
    margin-top: 0em;
   }
   .Home__image1 {
    border: 4px solid var(--bg-300);
    max-width: 23em;
    margin: auto;
    padding: 0em 0em 0em 0em;
   }

   .Home__image-img1 {
    transform: scale(1);
    height: 100%;
    object-fit: cover;
 }

 .Home__info {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 60em;
    gap: 1em;
    padding-left: 10em;
 }

 .Home__info-title {
    font-size: 2.7em; 
}
.Home__span {
    color: var(--subtitle);
    font-size: 26px;
    margin-top: -7px; 
}

.Home__info-text {
    font-size: 1.3em; 
    color: var(--text);
}
.Home__footer{
  justify-content: start;
}

.Home__button0 {
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: 1.4em;
    background-color: var(--bg-300);
    left: 0;
    margin-left: -5em;
    padding: .2em;
    border: none;
    transition: margin-left 0.3s ease;
    width: 8.3em;
    border-radius: 0em .5em 0em 0em;
    height: 2.8em;
  }

  .barra {
    display: grid;
    position: fixed;
    left: 0;
    width: 100%;
    max-width: 13em;
    gap: 0px;
    justify-content: start;
  }
  
  .Home__button0:hover {
    margin-left: 0em;
    padding: .2em .2em .2em 1em;
    width: 8.5em;
    cursor: pointer;
    border-radius: 0em .4em .4em 0em;
  }
  

.bxl-linkedin-square {
    font-size: 2.5em;
}
.bx-envelope {
    font-size: 2.5em;
}
.bxl-whatsapp {
    font-size: 2.5em;
}
.bxl-github {
    font-size: 2.5em;
}

.Home__button1 {
    display: flex;
    gap: .7em;
    align-items: center;
    font-size: 1.4em;
    background-color: var(--bg-300);
    left: 0;
    margin-left: -5em;
    padding: .2em .2em .2em 2em;
    border: none;
    transition: margin-left 0.3s ease;
    width: 8.3em;
    height: 2.8em;
  }
  .Home__button1:hover {
    margin-left: 0em;
    padding: .2em .2em .2em 1em;
    width: 8.5em;
    cursor: pointer;
    border-radius: 0em .4em .4em 0em;
  }
  .Home__button2 {
    display: flex;
    gap: .5em;
    align-items: center;
    font-size: 1.4em;
    background-color: var(--bg-300);
    left: 0;
    margin-left: -5em;
    padding: .2em;
    border: none;
    transition: margin-left 0.3s ease;
    width: 8.3em;
    height: 2.8em;
    border-radius: 0em;
  }
  .Home__button2:hover {
    margin-left: 0em;
    padding: .2em .2em .2em 1em;
    width: 8.5em;
    cursor: pointer;
    border-radius: 0em .4em .4em 0em;
  }
  .Home__button3 {
    display: flex;
    gap: 1.8em;
    align-items: center;
    font-size: 1.4em;
    background-color: var(--bg-300);
    left: 0;
    margin-left: -5em;
    padding: .2em;
    border: none;
    transition: margin-left 0.3s ease;
    width: 8.3em;
        border-radius: 0em 0em .5em 0em;
        height: 2.8em;
  }
  .Home__button3:hover {
    margin-left: 0em;
    padding: .2em .2em .2em 1em;
    width: 8.5em;
    cursor: pointer;
    border-radius: 0em .4em .4em 0em;
  }

  .Home__footer {
    display: flex;
    gap: 1em;
    width: 100%;
    align-items: center;
}
.Home__button {
    padding: 7px;
    border: none;
    border-radius: 4px;
    background-color: var(--bg-300);
    color: var(--title);
    font-size: 12px;
    cursor: pointer;
}
.Home__buttonA {
    padding: 7px;
    border: none;
    border-radius:4px;
    background-color: var(--bg-300);
    color: var(--bg-200);
    font-size: 12px;
    cursor: pointer;
}

.bx_H {
  font-size: 2em;
  position: absolute;
  bottom: 0;
  left: 50%;
  cursor: pointer;
  animation: bou 2s infinite;
  color: var(--bg-300);
}

.bx_H:hover {
  color: rgb(24, 170, 170);
}

@keyframes bou {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* No se mueve en estos momentos */
}
40% {
    transform: translateY(-10px); /* Salta hacia arriba en este punto */
}
60% {
    transform: translateY(-10px); /* Y vuelve a su posición original aquí */
}
}


}