#Knowledge {
    max-width: 82%;
    margin: auto;
    padding-top: 1em;
    border-radius: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    padding: 2em 1em 2em 1em;
    padding-bottom: 10em;
    display: grid;
}
#Knowledge > h1 {
    font-size: 2.3em;
    width: 8em;
    margin-bottom: 1.5em;
}
#Knowledge > p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    margin-top: -2em;
}
.Knowledge {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.Knowledge_languaje {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    width: 4em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 1em;
    padding: 3em;
    color: brown;
    background-color: rgba(165, 42, 42, 0.185);
    border: .2em solid brown;
}
.Knowledge_languaje1 {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    width: 4em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 1em;
    padding: 3em;
    color: rgb(54, 42, 165);
    background-color: rgba(42, 140, 165, 0.185);
    border: .2em solid rgb(42, 110, 165);
}
.Knowledge_languaje2 {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    width: 4em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 1em;
    padding: 3em;
    color: rgb(122, 122, 76);
    background-color: rgba(165, 157, 42, 0.185);
    border: .2em solid rgb(197, 189, 81);
}
.Knowledge_languaje3 {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    width: 4em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 1em;
    padding: 3em;
    color: rgba(11, 109, 126, 0.89);
    background-color: rgba(42, 140, 165, 0.185);
    border: .2em solid rgba(10, 184, 214, 0.89);
}
.Knowledge_languaje4 {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    width: 4em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 1em;
    padding: 3em;
    color: rgb(2, 2, 2);
    background-color: rgba(0, 7, 8, 0.185);
    border: .2em solid rgb(0, 8, 14);
}
.Knowledge_languaje5 {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    width: 4em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 1em;
    padding: 3em;
    color: blueviolet;
    background-color: rgba(137, 43, 226, 0.151);
    border: .2em solid blueviolet;
}
.Knowledge_languaje6 {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    width: 4em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 1em;
    padding: 3em;
    color: rgb(54, 42, 165);
    background-color: rgba(42, 140, 165, 0.185);
    border: .2em solid rgb(42, 110, 165);
}
.Knowledge_languaje7 {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    width: 4em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 1em;
    padding: 3em;
    color: rgb(18, 70, 13);
    background-color: rgba(92, 235, 25, 0.185);
    border: .2em solid rgb(42, 165, 58);
}
.Knowledge_languaje8 {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    width: 4em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 1em;
    padding: 3em;
    color: rgb(148, 134, 10);
    background-color: rgba(165, 157, 42, 0.185);
    border: .2em solid rgb(223, 238, 11);
}
.Knowledge_languaje9 {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    width: 4em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 1em;
    padding: 3em;
    color: rgb(54, 42, 165);
    background-color: rgba(42, 140, 165, 0.185);
    border: .2em solid rgb(57, 23, 211);
}
.bxl-html5 {
    font-size: 4em;
    color: brown;
}
.bxl-css3 {
    font-size: 4em;
    color: rgb(44, 109, 207);
}
.bxl-javascript {
    font-size: 4em;
    color: yellow;
}
.bxl-react {
    font-size: 4em;
    color: rgba(10, 184, 214, 0.89);
}
#githubb {
    font-size: 4em;
    color: black;
}
.bxl-redux {
    font-size: 4em;
    color: blueviolet;
}
.bxl-postgresql {
    font-size: 4em;
    color: blue;
}
.bxl-nodejs {
    font-size: 4em;
    color: green;
}
.bxl-python {
    font-size: 4em;
    color: rgb(50, 143, 205);
}
.bxl-typescript {
    font-size: 4em;
    color: blue;
}
@media (min-width: 700px) {
    #Knowledge {
        max-width: 82%;
        margin: auto;
        padding-top: 1em;
        border-radius: 1em;
        padding-bottom: 1em;
        margin-top: 2em;
        box-shadow: none;
        padding: 2em;
        padding-bottom: 10em;
        display: grid;
    }
    #Knowledge > h1 {
        font-size: 2.3em;
        width: 8em;
        margin-bottom: 1.5em;
    }
    #Knowledge > p {
        font-size: 1.2em;
        margin-bottom: 1.5em;
        margin-top: -2em;
    }
    .Knowledge {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

}