/* Animaciones */
@keyframes toggle {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 150%;
    }
}

@keyframes appearDisappear {
    0%, 100% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes effectWrite {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

/* Estilos de la pantalla de carga */
.isLoading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--zposition-fourth);
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #1c2351 0%, #0a0e28 16%, #040716 50%, #0a0e28 83%, #1c2351 100%);
    background-size: 300% 300%;
    animation: toggle 3s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mostrar la pantalla de carga */
.show-isLoading {
    display: grid;
}

/* Estilos de la imagen circular */
.isLoading_padre-img {
    position: relative;
    width: 100%;
    text-align: center;
}

.isLodiadig_img-container {
    width: 90px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff; /* Color de fondo del círculo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del círculo */
    border: 5px solid rgb(231, 230, 236);
}

.isLodiadig_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Estilos del texto */
.isLoading h1 {
    font-size: 3rem;
    background: conic-gradient(
      #ece9e9 0 25%,
      #82c0cc 25% 50%,
      #86e0a4 50% 75%,
      #d3ced0 75%
    );
    background-size: 200% 200%;
    animation: animate 4.3s ease-in-out infinite, appearDisappear 2s ease-in-out infinite alternate;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-left: 40px;
    font-weight: 700;
    position: relative;
    margin-top: -7em;
    margin-right: .7em;
}

.isLoading h1::after {
    height: 100%;
    animation: toggle 1s infinite;
    position: absolute;
    right: 0;
    content: "";
}

/* Efecto de escritura para el texto */
.show-isLoading .isLoading h1::before {
    content: "Cargando...";
    display: inline-block;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: effectWrite 2s ease-in-out infinite;
}
