.Proyectos{
        max-width: 82%;
        margin: auto;
        padding-top: 1em;
        border-radius: 1em;
        padding-bottom: 1em;
        margin-top: 2em;
        padding: 2em 1em 2em 1em;
        padding-bottom: 10em;
        display: grid;
        gap: 2em;
     
}

.Proyectos > section {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
}
.Proyectos > nav > h1 {
    font-size: 2em;
    margin-bottom: .5em;
}

.proyecto {
    width: 100%;
    max-width: 28em;
    padding: 1.6em;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border-radius: 1em;
    background-color: rgba(3, 1, 17, 0.336);
    position: relative;
    cursor: pointer;
    text-align: center;
}
.proyectofinal{
    width: 100%;
    max-width: 28em;
    padding: 1.6em;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
    0.3em 0.1em 3em var(--bg-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border-radius: 1em;
    background-color: rgba(3, 1, 17, 0.336);
    position: relative;
    cursor: pointer;
    text-align: center;
}
.proyecto > h1 {
    color: var(--primary-200);
    border-bottom: 2px solid var(--primary-200);
    width: 8em;
    text-align: center;
}
.proyecto > img {
    border-radius: 1em;
}
.Proyecto__text {
    position: absolute;
    padding: 2em;
    text-align: center;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0);
    border-radius: .7em;
    transition: background-color 700ms ease, color 800ms ease, border 500ms ease;
    gap: 1em;
    border: 3px solid white;
}
.Proyecto__textfinal {
    position: absolute;
    padding: 2em;
    text-align: center;
    background-color: rgba(46, 46, 104, 0.788);
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 1.4em;
    color: white;
    border-radius: .7em;
    border: 3px solid white;
}
.Proyecto__text:hover {
    position: absolute;
    padding: 2em;
    text-align: center;
    background-color: rgba(46, 46, 104, 0.788);
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 1.4em;
    color: white;
    border-radius: .7em;
    border: 3px solid white;
}