.perfil {
    max-width: 410px;
    margin: auto;
    margin-top: 6em;
    border-radius: 1em;
    position: relative;
    top: 10px;
}
.diploma{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #8da3c075;
    backdrop-filter: blur(1.9px);
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 200ms ease;
    padding: 1em;
    gap: 3em;
}
.diploma img{
    border-radius: .4em;
    object-fit: contain;
}
.perfil_btn{
    width: 7em;
    height: 2.4em;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    background-color: var(--bg-300);
    color: aliceblue;
    cursor: pointer;
    transition: transform 200ms ease;
    font-size: 1em;
}
.perfil_btn:hover{
  filter: brightness(1.15);
}
.clos{
    transform: scale(0);
}
.perfil_center {
  
    border-radius: 1em;
    background-color: rgba(220, 228, 255, 0.014);
    
}


.perfil_image {
    border-bottom: 3px solid var(--text);
}

.perfil_img {
    border-radius: 1em 1em 0em 0em;
    padding: 0em 3em 0em 3em;
}

.perfil_info {
    font-size: 12px;
    text-align: center;
    color: var(--text);
}

.certificados {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}

.perfil_certificados {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0em;
    border-radius: 1em;
    transition: transform 300ms ease, background-color 400ms ease;
    color: var(--text-200);
    background-image: url(../../../image/graduacion.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
    color: rgba(227, 227, 235, 0.979);
}
.perfil_certificados > h1 {
    background-color: #4c6f8fbc;
    height: 100%;
    border-radius: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    transition: background-color 500ms ease;
    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;

}


.perfil_certificados:hover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(136, 143, 207, 0.521),    0.3em 0.1em 3em var(--bg-300); 
}
.perfil_certificados > h1:hover {
    background-color: #4c6f8f00;
    height: 100%;
    border-radius: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    color: #0f015c09;
    
}
@media (min-width: 700px) {
    .perfil {
        max-width: 1110px;
        margin: auto;
        padding: 1em;
        margin-top: 6em;
        border-radius: 1em;
        border: none;
        background-color: #e8eaec00;
        margin-bottom: 10em;   
        top: 10px;
    }
    .diploma{
        width: 100%;
        height: 100vh;
        background-color: #8da3c0a6;
        backdrop-filter: blur(1.9px);
        z-index: 1;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 200ms ease;
        padding: 19em;
        gap: 3em;
    }
    .diploma img{
        border-radius: .4em;
        object-fit: contain;
        margin-top: 5em;
        margin-bottom: -2em;
        width: 100%;
        max-width: 40em;
    }
    .perfil_btn{
        width: 5em;
        height: 7em;
        border-radius: 6px;
        border: none;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        background-color: var(--bg-300);
        color: aliceblue;
        cursor: pointer;
        font-size: 1.5em;
        transition: transform 200ms ease;
    }
    
    
    .perfil_image {
        padding: 2.5em 15em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: none;
    }
    
    .perfil_img {
        border-radius: 1em;
        height: 22em;
        width: 23em;
        object-fit: contain;
        box-shadow: inset 0 -3em 3em rgba(227, 225, 225, 0.1), 0 0 0 2px rgb(241, 241, 248), 0.5em 0.5em 3em var(--bg-300);
        padding: 0em 0em 0em 0em;
}
    .line{
        max-width: 300px;
        background-color: var(--bg-300);
        transform: scale(0);
    }
    .perfil_info {
        font-size: 15px;
        text-align: center;
        max-width: 850px;
        margin: auto;
        color: var(--text);
        margin-top: -2em;
}
.perfil_info h2{
    font-size: 25px;
}
    
    .certificados {
        margin-top: 3em;
        display: flex;
        flex-wrap: wrap;
        gap: 3em;
        align-items: center;
        justify-content: center;
        padding-bottom: 3em;
    }
    
    .perfil_certificados {
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        width: 12em;
        height: 12em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0em;
        border-radius: 1em;
        transition: transform 300ms ease, background-color 400ms ease;
        color: rgba(240, 240, 247, 0.969);
        font-size: 1.2em;
        background-image: url(../../../image/graduacion.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .perfil_certificados > h1 {
        background-color: #4c6f8fbc;
        height: 100%;
        border-radius: 1em;
        text-align: center;
        display: flex;
        align-items: center;
        transition: background-color 500ms ease;
        -webkit-transition: background-color 500ms ease;
        -moz-transition: background-color 500ms ease;
        -ms-transition: background-color 500ms ease;
        -o-transition: background-color 500ms ease;
}
    
    .perfil_certificados > h1:hover {
        background-color: #4c6f8f00;
        height: 100%;
        border-radius: 1em;
        text-align: center;
        display: flex;
        align-items: center;
        
    }
    
    .perfil_certificados:hover {
        background-color: #3b5f82a1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(136, 143, 207, 0.521),    0.3em 0.1em 3em var(--bg-300); 
    }
}