/*Css para 📱*/
.Portafolio_header {
  background-color: var(--bg-300);
  color: var( --primary-200);
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center;
  gap: 30%;
  height: 10vh;
  width: 100%;
  margin-top: -6em;
}
.Portafolio_programmer{
  width: 60%;
  text-align: start;
  padding-left: 1.5em;
}
.container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #57749e6f;
    backdrop-filter: blur(1.9px);
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 200ms ease;
}
.close{
  transform: scale(0);
  position: fixed;
}
.Portafolio_click{
  border-radius: 6px;
  color: var(--text-100);
  display: flex;
  justify-content: center;
  margin-right: 2em;
  text-align: center;
  align-items: center;
  background-color: var(--bg-200);
  cursor: pointer;
  width: 1.7em;
  height: 1.6em;
  text-align: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 .1px rgb(247, 244, 244),
  0.3em 0.1em 3em var(--bg-300);
    
}
.bx{
  font-size: 1.4em;
}

.img_menu{
  height: 1.5em;
  width: 1.7em;
}
.Portafolio_menu {
  background-color: var(--accent-100);
  text-align: center;
    width: 100%;
    max-width: 250px;
    padding: 7em 1em 7em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    border-radius: 1em;
    border: 2px solid #4e4f8dfb; 
}
.Portafolio_select{
  transition:  transform 250ms ease;
  font-size: 14.5px;
}
a{
  text-decoration: none;
  color: var(--text-300);
}
.Portafolio_select:hover{
  transform: scale(1.10);
  text-shadow: 1px 0.3px rgba(35, 134, 248, 0.966);
  cursor: pointer;
  filter: brightness(1.9);
}
.return{
  color: rgba(45, 212, 235, 0.541);
}






/*Css para 💻*/
@media (min-width: 750px ) {
  .Portafolio_header {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    gap: 30%;
    height: 10vh;
    background-color: var(--bg-300);
  }
  a{
    text-decoration: none;
  }
  .Portafolio_programmer{
    width:90em;
    text-align: start;
    padding-left: 5em;
  }
  .container {
    position: fixed;
      width: 100%;
      height: 10vh;
      z-index: 1;
    backdrop-filter: blur(0px);
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 200ms ease;
      margin-right:90em ;
      background-color: #f7f3f602;
  }

  .close{
    transform: none;
}
  .Portafolio_click{
  transform: scale(0);
}
  
  .img_menu{
    height: 1.5em;
    width: 1.7em;
  }
  .Portafolio_menu {
    background-color: rgba(177, 136, 131, 0.021);
    text-align: center;
      width: 100%;
      max-width: 100%;
      padding: 0em 1em 0em;
      display: flex;
      flex-direction: initial;
      justify-content: end;
      gap: 1em;
      position: fixed;
      border-radius: 1em;
      border: none; 
  }
  .Portafolio_select{
    transition:  transform 250ms ease;
    font-size: 14.5px;
    display: flex;
    align-items: center;
  }
  .Portafolio_select:hover{
    transform: scale(1.10);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.247);
    cursor: pointer;
    filter: brightness(1.9);
  }
  .return{
  transform: scale(0);
  }
}