.productOne {
    display: grid;
    margin-top: 6em;
    align-items: center;
    justify-content: center;
    
}

.productOne_part1 {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 2em;
    margin-top: 3em;
   
}

.productOne_v1 {
    width: 100%;
    max-width: 36em;
    border-radius: 1em;
    text-align: center;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -45em;
    font-size: .9em;
    transition: transform 500ms ease;
}

.productOne_compu {
    width: 100%;
    max-width: 20em;
    border-radius: 1em;
    text-align: center;
    border: 6px solid;
    
}
.video{
    background-color: rgb(1, 1, 8);
    padding: .5em;
    border-radius: 1em;
}

.productOne_v1-close {
    transform: scale(0);
    transition: transform 500ms ease;
}

.productOne_v2 {
    position: absolute;
    width: 100%;
    max-width: 10.7em;
    border-radius: 1em;
    text-align: center;
    margin-top: 2.5em;
    margin-left: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 500ms ease;
}
.h2{
    color: var(--bg-300);
}
.h3{
    color: var(--bg-300);
    margin-top: -1em;
    margin-bottom: 1em;
}

.productOne_v2-close {
    transform: scale(0);
    transition: transform 500ms ease;
}

.productOn {
    width: 100%;
    max-width: 30em;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: end;
    border-radius: 1em;
    padding: 3em;
    gap: 1.3em;
    margin-top: -2em;
    color: var(--text);
}

.productOne_ul {
    width: 100%;
    max-width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 1em;
    gap: 1em;
}

.productOne_movil {
    border-radius: 1em;
    height: 21em;
    width: 100%;
    max-width: 9.7em;
    background-color: black;
}

.exit {
    font-size: 1.5em;
    position: fixed;
    color: var(--bg-300);
    cursor: pointer;
    left: 0.5em;
    top: 4.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: .4em;
    padding: .1em;
    border: 2px solid var(--bg-300);
    transition: border 500ms ease, color 500ms ease;
}
.vol{
    font-size: .4em;
    text-align: center;
   display: flex;
}
.exit:hover{
    filter: brightness(1.2);
    border: 2px solid var(--bg-30);
    color: rgb(14, 4, 48);
}
.productOne_descripcion{
    color: var(--bg-300);
    font-size: 1.5em;
}
.productOne_btn{
    width: 100%;
    max-width: 20em;
    height: 2em;
    border-radius: 10em;
    border: none;
    background-color: var(--bg-300);
    color: var(--textBotom);
    cursor: pointer;
    margin-bottom: 8em;
}
.productOne_btn:hover{
    filter: brightness(1.15);
}
.enlace{
    color: var(--bg-300);
    font-weight: 700;
    transition: border-bottom 500ms ease;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 0px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    padding: .2em;
    border-radius: .2em;
}
.enlace:hover{
    border-bottom: 1px solid var(--bg-30);
}
@media (min-width:920px) {
    .productOne {
        display: flex;
        gap: 3em;
        margin-top: 6em;
        align-items: center;
        justify-content: center;
        
    }
    
    .productOne_part1 {
        display: flex;
        flex-direction: column;
        gap: 2em;
    margin-top: -2em;
       
    }
    
    .productOne_v1 {
        width: 100%;
        max-width: 36em;
        border-radius: 1em;
        text-align: center;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -45em;
        font-size: .9em;
        transition: transform 500ms ease;
    }
    
    .productOne_compu {
        width: 100%;
        max-width: 20em;
        border-radius: 1em;
        text-align: center;
        border: 6px solid;
        margin-top: 1em;
        
    }
    
    .productOne_v1-close {
        transform: scale(0);
        transition: transform 500ms ease;
    }
    
    .productOne_v2 {
        position: absolute;
        width: 100%;
        max-width: 10.7em;
        border-radius: 1em;
        text-align: center;
        margin-top: 2.5em;
        margin-left: 22%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 500ms ease;
    }
    .h2{
        color: var(--bg-300);
    }
    .h3{
        color: var(--bg-300);
        margin-top: -1em;
        margin-bottom: 1em;
    }
    
    .productOne_v2-close {
        transform: scale(0);
        transition: transform 500ms ease;
    }
    
    .productOn {
        width: 100%;
        max-width: 30em;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: end;
        border-radius: 1em;
        padding: 3em;
        gap: 1.3em;
        margin-top: -2em;
        color: var(--text);
    }
    
    .productOne_ul {
        width: 100%;
        max-width: 30em;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        border-radius: 1em;
        gap: 1em;
    }
    
    .productOne_movil {
        border-radius: 1em;
        height: 21em;
        width: 100%;
        max-width: 9.7em;
        background-color: black;
    }
    
    .exit {
        font-size: 1.5em;
        position: fixed;
        color: var(--bg-300);
        cursor: pointer;
        left: 0.5em;
        top: 4.3em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: .4em;
        padding: .1em;
        border: 2px solid var(--bg-300);
        transition: border 500ms ease, color 500ms ease;
    }
    .vol{
        font-size: .4em;
        text-align: center;
       display: flex;
    }
    .exit:hover{
        filter: brightness(1.2);
        border: 2px solid var(--bg-30);
        color: rgb(14, 4, 48);
    }
    .productOne_descripcion{
        color: var(--bg-300);
        font-size: 1.5em;
    }
    .productOne_btn{
        width: 100%;
        max-width: 20em;
        height: 2em;
        border-radius: 10em;
        border: none;
        background-color: var(--bg-300);
        color: var(--textBotom);
        cursor: pointer;
        margin-bottom: 8em;
    }
    .productOne_btn:hover{
        filter: brightness(1.15);
    }
    .enlace{
        color: var(--bg-300);
        font-weight: 700;
        transition: border-bottom 500ms ease;
        box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 0px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        padding: .2em;
        border-radius: .2em;
    }
    .enlace:hover{
        border-bottom: 1px solid var(--bg-30);
    }
}
