.Proyects{
    background-color: rgb(34, 19, 121);
    max-width: 330px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 6em;
    border-radius: 1em;
    margin-bottom: 3em;
    padding-bottom: 3em;
    
 }
 .proyects_header{
    background-color: rgb(11, 11, 66);
    position: relative;
    width: 100%;
    margin-top: -7em;
    position: fixed;
    text-align: center;
    color: red;
    font-size: 0.9em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .h1{
    cursor: pointer;
    color: red;
    transition: transform 300ms ease, color 300ms ease;
}
 .h1:hover{
    transform: scale(0.9);
    color: beige;
}
 .Proyects_tittle{
     color: red;
     max-width: 450px;
     margin: auto;
     text-align: center;
     margin-top: 1em;
     background-color: rgb(17, 17, 70);
     padding: 3px;
     border-radius: 1em;
     width: 13em;
     font-size: 19px;
     text-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.582);
     margin-top: 1.2em;
 }
 .Proyect_text{
    color: aliceblue;
    text-align: center;
    padding: 0em 2em 0em 2em;
 }
 .Proyects_proyects{
    max-width: 250px;
    margin: auto;
    background-color: rgb(21, 21, 77);
    display: grid;
    gap: 1em;
    padding: 1em;
    border-radius: 1em;
 }
 .Proyects_proyectO{
     background-color: rgb(17, 17, 73);
     border-radius: 1em;
     border: 4px solid rgb(7, 1, 17);
     cursor: pointer;
 }
 .Proyects_proyectO:hover{
    transform: scale(1.02);
    background-color: rgba(10, 8, 22, 0.151);
    border: 4px solid rgb(47, 36, 65);
}
  .Proyects_vid{
    padding: 0.5em;
    border-radius: 1em;
}
 .Proyects_name{
     color: red;
     text-align: center;
 }
 .Proyects_info{
     color: beige;
     text-align: center;
     font-size: 14px;
     padding: 1em;
  
 }
 .Proyects_ingresar{
     margin-top: 2em;
     font-size: 1em;
     transition: color 300ms ease, transform 300ms ease;
 }
 .Proyects_ingresar:hover{
    color: beige;
    transform: scale(1.03);
 }
 .proyects_todos{
     color: red;
     text-align: center;
     font-size: 9px;
     cursor: pointer;
     background-color: rgb(26, 26, 131);
     max-width: 200px;
     margin: auto;
     margin-bottom: 2em;
     padding: 5px;
     border-radius: 2em;
     transition: border 300ms ease, color 350ms ease;
 }
 .proyects_todos:hover{
     border: 1px solid rgba(7, 3, 27, 0.534);
     color: rgb(113, 173, 252);
 }
 @media (min-width: 700px) {
     .Proyects{
         background-color: rgb(34, 19, 121);
         max-width: 850px;
         margin: auto;
         display: flex;
         flex-direction: column;
         gap: 1em;
         margin-top: 7em;
         border-radius: 1em;
         margin-bottom: 3em;
         padding-bottom: 3em;
      }
      .proyects_header{
        background-color: rgb(11, 11, 66);
        position: relative;
        width: 100%;
        margin-top: -7.7em;
        position: fixed;
        text-align: center;
        color: red;
        font-size: 0.9em;
        height: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .h1{
        cursor: pointer;
        color: red;
        transition: transform 300ms ease, color 300ms ease;
    }
     .h1:hover{
        transform: scale(0.9);
        color: beige;
    }
      .Proyects_tittle{
          color: red;
          max-width: 350px;
          margin: auto;
          text-align: center;
          margin-top: 1em;
          background-color: rgb(17, 17, 70);
          padding: 3px;
          border-radius: 1em;
          width: 13em;
          font-size: 19px;
          text-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.582);
          margin-top: 1.2em;
      }
      .Proyect_text{
        color: aliceblue;
        text-align: center;
        padding: 0em 9em 0em 9em;
     }
      .Proyects_proyects{
         max-width: 750px;
         margin: auto;
         background-color: rgb(21, 21, 77);
         display: grid;
         gap: 1em;
         padding: 1em;
         border-radius: 1em;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
      }
      .Proyects_proyectO{
          background-color: rgb(17, 17, 73);
          border-radius: 1em;
          border: 4px solid rgb(7, 1, 17);
          display: flex;
          flex-direction: row;
          height: 60vh;
          align-items: center;
          cursor: pointer;
          transition: transform 300ms ease, background-color 300ms ease, border 300ms ease;
}
      .Proyects_proyectO:hover{
          transform: scale(1.02);
          background-color: rgba(10, 8, 22, 0.151);
          border: 4px solid rgb(47, 36, 65);
}
      .Proyects_proyect:nth-child(even) {
         flex-direction: row-reverse;
     }
       .Proyects_vid{
        width: 25em;
        margin-right: 3em;
        margin-left: 1.5em;
        border-radius: 2em;
        margin-right: 2em;
       
}
      .Proyects_name{
          color: red;
          text-align: center;
      }
      .Proyects_info{
          color: beige;
          text-align: center;
          font-size: 14px;
          padding: 1em;
      }
      .proyects_todos{
          color: red;
          text-align: center;
          font-size: 9px;
          cursor: pointer;
          background-color: rgb(26, 26, 131);
          max-width: 200px;
          margin: auto;
          margin-bottom: 2em;
          padding: 5px;
          border-radius: 2em;
          transition: border 300ms ease, color 350ms ease;
      }
      .proyects_todos:hover{
          border: 1px solid rgba(7, 3, 27, 0.534);
          color: rgb(113, 173, 252);
      }
 }