.Proyects{
    background-color: var(--bg-300);
    max-width: 330px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 6em;
    border-radius: 1em;
    margin-bottom: 3em;
    padding-bottom: 3em;
    
 }
 .proyects_header{
    background-color: var(--bg-300);
    position: relative;
    width: 100%;
    margin-top: -7em;
    position: fixed;
    text-align: center;
    color: var(--accent-200);
    font-size: 0.9em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .h1{
    cursor: pointer;
    color: var(--accent-200);
    transition: transform 300ms ease, color 300ms ease;
}
 .h1:hover{
    transform: scale(0.9);
    color: rgba(174, 174, 185, 0.952);
}
 .Proyects_tittle{
    color: var(--text-200);
     max-width: 450px;
     margin: auto;
     text-align: center;
     margin-top: 1em;
     background-color: var(--bg-200);
     padding: 3px;
     border-radius: 1em;
     width: 13em;
     font-size: 19px;
     text-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.582);
     margin-top: 1.2em;
 }
 .Proyect_text{
    color: var(--text-100);
    text-align: center;
    padding: 0em 2em 0em 2em;
 }
 .Proyets_proyects{
    max-width: 270px;
    margin: auto;
    background-color: var(--bg-200);
    display: grid;
    gap: 1em;
    padding: 1em;
    border-radius: 1em;
 }
 .Proyec_proyectO{
     background-color: var(--bg-200);
     border-radius: 1em;
     border: 4px solid var(--bg-300);
     cursor: pointer;
     transition:  background-color 700ms ease, border 700ms ease;
     color: var(--text-200);
}
 .Proyec_proyectO:hover{
    background-color:  var(--bg-300);
    border: 4px solid var(--bg-200);
    
    color: var(--accent-200);
}
  .Proyects_vid{
    padding: 0.5em;
    border-radius: 1em;
}

 .Proyects_info{
     text-align: center;
     font-size: 14px;
     padding: 1em;
     font-size: 1.1em;
     transition: color 700ms ease;
}
 
 .Proyects_text{
    color: var(--text-100);
 }
 .Proyects_ingresar{
     margin-top: 2em;
     font-size: 1em;
     transition: color 300ms ease, transform 300ms ease;
 }
 .Proyects_ingresar:hover{
    color: beige;
    transform: scale(1.03);
 }
 .proyects_todos{
     color: red;
     text-align: center;
     font-size: 9px;
     cursor: pointer;
     background-color: rgb(26, 26, 131);
     max-width: 200px;
     margin: auto;
     margin-bottom: 2em;
     padding: 5px;
     border-radius: 2em;
     transition: border 300ms ease, color 350ms ease;
 }
 .proyects_todos:hover{
     border: 1px solid rgba(7, 3, 27, 0.534);
     color: rgb(113, 173, 252);
 }
 @media (min-width: 700px) {
    .Proyects{
        background-color: var(--bg-300);
        max-width: 880px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 6em;
        border-radius: 1em;
        margin-bottom: 3em;
        padding-bottom: 3em;
        
     }
     .proyects_header{
        background-color: var(--bg-300);
        position: relative;
        width: 100%;
        margin-top: -7em;
        position: fixed;
        text-align: center;
        color: var(--accent-100);
        font-size: 0.9em;
        height: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .h1{
        cursor: pointer;
        transition: transform 300ms ease, color 300ms ease;
    }
     .h1:hover{
        transform: scale(0.9);
    }
     .Proyects_tittle{
        color: var(--text-200);
         max-width: 450px;
         margin: auto;
         text-align: center;
         margin-top: 1em;
         background-color: var(--bg-200);
         padding: 3px;
         border-radius: 1em;
         width: 13em;
         font-size: 19px;
         text-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.582);
         margin-top: 1.2em;
     }
     .Proyects_text{
        color: var(--text-100);
        text-align: center;
        padding: 0em 2em 0em 2em;
     }
     .Proyets_proyects{
        max-width: 770px;
        margin: auto;
        background-color: var(--bg-200);
        display: grid;
        gap: 1em;
        padding: 1em;
        border-radius: 1em;
     } 
     
     .Proyec_proyectO{
         background-color: var(--bg-200);
         border-radius: 1em;
         border: 4px solid var(--bg-300);
         cursor: pointer;
         display: flex;
         padding: 1em;
         align-items: center;
         flex-direction: row;
         color: var(--text-200);
     }
    .Proyec_proyectO:nth-child(even){
        flex-direction: row-reverse;
     }
     .Proyec_proyectO:hover{
        background-color:  var(--bg-300);
        border: 4px solid var(--bg-200);
        
        color: var(--accent-200);
    }
      .Proyects_vid{
        width: 50%;
        height: auto;
        border-radius: 1em;
    }
    .Proyects_text{
        color: var(--text-100);
    }
     .Proyects_info{
         text-align: center;
         font-size: 14px;
         padding: 1em;
         font-size: 1em;
     }
     .Proyects_ingresar{
         margin-top: 2em;
         font-size: 1em;
         transition: color 300ms ease, transform 300ms ease;
     }
     .Proyects_ingresar:hover{
        color: beige;
        transform: scale(1.03);
     }
     .proyects_todos{
         color: red;
         text-align: center;
         font-size: 9px;
         cursor: pointer;
         background-color: rgb(26, 26, 131);
         max-width: 200px;
         margin: auto;
         margin-bottom: 2em;
         padding: 5px;
         border-radius: 2em;
         transition: border 300ms ease, color 350ms ease;
     }
     .proyects_todos:hover{
         border: 1px solid rgba(7, 3, 27, 0.534);
         color: rgb(113, 173, 252);
     }
 }