.Contactame {
	background: var(--color1);
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding-bottom: 4em;
}
.Contactame_title {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: .2em;
	margin-bottom: 1.3em;
	font-size: 1.6em;
	color: var(--color3);
}
.suport {
	font-size: 1.5em;
}
.Aqui {
	color: var(--color2);
}
.Contactame_image {
    display: none;
}
.Contactame_form {
	display: flex;
	flex-direction: column;
    gap: .7em;
	padding: 1.5em;
	border-radius: .6em;
	box-shadow: 2px 3px 8px 3px var(--Shadow-Unis);
	background-color: var(--color6);
}
.Contactame_form > input {
	padding: .5em;
	background-color: var(--AlienBlue);
	border-radius: .6em;
	border: none;
	border: 1px solid var(--color3);
	color: var(--color3);
}
.Contactame_form > textarea {
	padding: .5em;
	background-color: var(--AlienBlue);
	border-radius: .6em;
	border: none;
	border: 1px solid var(--color3);
	width: 100%;
	max-width: 15em;
	color: var(--color3);
}
.Contactame_btn {
	width: 100%;
	margin-top: .5em;
	display: flex;
	justify-content: end;
}
.Contactame_btn > button {
	border: none;
	background-color: var(--color3);
	color: var(--color1);
	padding: .6em;
	width: 100%;
	max-width: 6.5em;
	border-radius: .5em;
	cursor: pointer;
}
@media (min-width: 880px) {
	.Contactame {
		padding: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-bottom: 4em;
	}
	.Contactame_Father {
		display: flex;
		border-radius: .5em;
		background: var(--color4);
		border: 1px solid var(--color2);
		width: 100%;
		max-width: 850px;
		justify-content: space-evenly;
	}
	.Contactame_image {
		display: block;
		border-radius: .5em;
	}
	.Contactame_image > img {
		border-radius: 1em;
	}
	.Contactame_form {
		display: flex;
		flex-direction: column;
		gap: .7em;
		border-radius: 0em;
		box-shadow: none;
		background-color: var(--color1);
	}
	.Contactame_form > textarea {
		padding: .5em;
		border-radius: .6em;
		width: 100%;
		max-width: 23em;
	}
}