.rotate-animation {
    animation: spin 40s linear infinite;
}

.Header-bola {
    animation: rotate 1s linear infinite; /* 86400 segundos = 24 horas */
  }
  
  @keyframes rotate {
    from {
      transform: rotate(6deg);
    }
    to {
      transform: rotate(6deg);
    }
  }
  


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
