/* Estilos del Header */
.Header {
    position: fixed;
  
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2.5em;
    z-index: 100000000;
    border-bottom: 1px solid var(--color6);
    margin-top: -0.1em;
    transition: background 0.3s ease-in-out;
    box-shadow: 0 1px 3px #0000001a;
    background-size: cover;  
    background: var(--color1);
}

.Header_nav-h1 {
    font-size: 1.5em;
    color: var(--color3);
    display: flex;
    align-items: center;
}

.Header_nav-h1 > img {
    max-width: 2.5em;
    border-radius: 50%;
}

/* Iconos del menú */
.Header_nav1 > i {
    font-size: 2.5em;
    background: var(--color1);
    font-weight: 500;
    cursor: pointer;
    color: var(--color3);
    border: 0.1px solid var(--color3);
    border-radius: 0.1em;
    transition: transform 0.3s ease-in-out;
}

.Header_nav1 > i:hover {
    transform: scale(1.1);
}

/* Navegación */
.Header_nav2 {
    display: flex;
    gap: 2em;
    display: none;
}

.Header_nav2-li {
    cursor: pointer;
    color: var(--text);
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    width: 100%;
}

.Header_nav2 li:hover {
    color: var(--color2);
    border-bottom: 3px solid var(--color2);
}

/* Sección activa */
.activo {
    color: var(--color2-3);
    border-bottom: 3px solid var(--color2-3);
    border-radius: .2em;
}

/* Estilos responsive */
@media (min-width: 900px) {
    .Header {
        justify-content: space-around;
        padding: 0.6em 1.2em;
    }
    .Header_nav1 > i {
        font-size: 2em;
        cursor: pointer;
        display: none;
    }
    .Header_nav2 {
        display: flex;
        gap: 2em;
    }
}

@media (min-width: 1367px) {
    /* Estilos del Header */
.Header {
    position: fixed;
    background: var(--color1);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1em 6em;
    z-index: 100000000;
    border-bottom: 1px solid var(--color6);
    margin-top: -0.1em;
    transition: background 0.3s ease-in-out;
    box-shadow: 0 1px 3px #0000001a;
}

.Header_nav-h1 {
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.Header_nav-h1 > img {
    max-width: 2.5em;
    border-radius: 50%;
}
}