
.Diploma {
    width: 100%;
    max-width: 20.5em;
    height: 14.9em;
    background-image: url(../../../../../images/FULL-STAK.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: start; 
	border: 7px solid rgb(76, 19, 102);
}

.Diploma > div {
	background-color: rgba(13, 22, 66, 0.719);
	height: 100%;
	width: 100%;
	padding: 1em;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.Diploma > div > button {
    background-color: blueviolet;
	color: white;
	width: 100%;
	max-width: 7em;
	right: 0;
	border: none;
	padding: .5em;
	border-radius: 1em;
	cursor: pointer;
}

.Diploma1 {
    width: 100%;
    max-width: 20.5em;
    height: 14.9em;
    background-image: url(../../../../../images/fundamentos.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: start; 
	border: 7px solid rgb(76, 19, 102);
}

.Diploma1 > div {
	background-color: rgba(13, 22, 66, 0.719);
	height: 100%;
	width: 100%;
	padding: 1em;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
    text-align: center;
}

.Diploma1 > div > button {
    background-color: blueviolet;
	color: white;
	width: 100%;
	max-width: 7em;
	right: 0;
	border: none;
	padding: .5em;
	border-radius: 1em;
	cursor: pointer;
}

.Diploma2 {
    width: 100%;
    max-width: 20.5em;
    height: 14.9em;
    background-image: url(../../../../../images/ReactNative.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: start; 
	border: 7px solid rgb(76, 19, 102);
}

.Diploma2 > div {
	background-color: rgba(13, 22, 66, 0.719);
	height: 100%;
	width: 100%;
	padding: 1em;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.Diploma2 > div > button {
    background-color: blueviolet;
	color: white;
	width: 100%;
	max-width: 7em;
	right: 0;
	border: none;
	padding: .5em;
	border-radius: 1em;
	cursor: pointer;
}

.Diploma3 {
    width: 100%;
    max-width: 20.5em;
    height: 14.9em;
    background-image: url(../../../../../images/Back-end.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: start; 
	border: 7px solid rgb(76, 19, 102);
}

.Diploma3 > div {
	background-color: rgba(13, 22, 66, 0.719);
	height: 100%;
	width: 100%;
	padding: 1em;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.Diploma3 > div > button {
    background-color: blueviolet;
	color: white;
	width: 100%;
	max-width: 7em;
	right: 0;
	border: none;
	padding: .5em;
	border-radius: 1em;
	cursor: pointer;
}