.Experience {
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2em;
	padding-bottom: 4em;
}
.Experience_title {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: .2em;
	margin-bottom: 1.3em;
	font-size: 1.6em;
}
.bxs-brie {
	font-size: 1.5em;
}
.laboral {
	color: var(--Blueviolet);
}
.Experience_works {
	display: flex;
	gap: 1em;
	width: 100%;
	max-width: 57em;
}
.Experience_works-2 {
	display: flex;
	gap: 1em;
	width: 100%;
	max-width: 57em;
    margin-top: -1em;
}
.Experience_line {
	background: var(--Linea-Ex);
	width: .8em;
	border-radius: 2em;
	position: relative;
	display: flex;
	align-items: start;
	justify-content: center;
	height: 25em;
}

.Experience_line-2 {
	background: var(--Linea-Ex);
	width: 1.5em;
	border-radius: 2em;
	position: relative;
	display: flex;
	align-items: start;
	justify-content: center;
}
.icon {
	position: absolute;
	background:var(--Linea-Ex);
	padding: .3em;
	border-radius: 50%;
	color: var(--Bg-Header);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
}
.Experience_work > h1 {
    color: var(--Blueviolet);
	margin-bottom: .5em;
}
.Experience_work > p {
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: .5em;
}
.Experience_work > span {
	color: var(--Green);
}
.Experience_work > div {
    width: 100%; 
	display: flex;
	justify-content: end;
}
.Logros {
	display: flex;
	flex-direction: column;
	gap: .6em;
	color: var(--Blueviolet);
}
.Logros > li{
	list-style: circle;
	margin-left: 2em;
	color: var(--Black);
	font-weight: 400;
}
.Experience_work >div > a > button {
	border: none;
	padding: .5em;
	border-radius: .5em;
	background-color: var(--Blueviolet);
	color: var(--Bg-Header);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .8em;
}
@media (min-width: 600px) {
	.Experience_line {
		background: var(--Linea-Ex);
		width: .4em;
		border-radius: 2em;
		position: relative;
		display: flex;
		align-items: start;
		justify-content: center;
		height: 20em;
	}
	.Experience_works-2 {
		display: flex;
		gap: 1em;
		width: 100%;
		max-width: 57em;
		margin-top: -1em;
	}
	
	.Experience_line-2 {
		background: var(--Linea-Ex);
		width: .7em;
		border-radius: 2em;
		position: relative;
		display: flex;
		align-items: start;
		justify-content: center;
	}
	.Experience_work >div > a > button {
		border: none;
		padding: .5em;
		border-radius: .5em;
		background-color: var(--Blueviolet);
		color: var(--Bg-Header);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1em;
	}
}

@media (max-width: 320px) {
	.Experience_line {
		background: var(--Linea-Ex);
		width: .8em;
		border-radius: 2em;
		position: relative;
		display: flex;
		align-items: start;
		justify-content: center;
		height: 30em;
	}
}