.Experience {
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2em;
	padding-bottom: 4em;
}
.Experience_title {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: .2em;
	margin-bottom: 1.3em;
	font-size: 1.6em;
}
.bxs-brie {
	font-size: 1.5em;
}
.laboral {
	color: blueviolet;
}
.Experience_works {
	display: flex;
	gap: 1em;
	width: 100%;
	max-width: 57em;
}
.Experience_line {
	background: linear-gradient(0deg, rgba(80,34,195,1) 0%, rgba(132,45,253,0.9780287114845938) 59%);
	width: .8em;
	border-radius: 2em;
	position: relative;
	display: flex;
	align-items: start;
	justify-content: center;
}
.icon {
	position: absolute;
	background: linear-gradient(0deg, rgba(80,34,195,1) 0%, rgba(132,45,253,0.9780287114845938) 59%);
	padding: .3em;
	border-radius: 50%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
}
.Experience_work > h1 {
    color: blueviolet;
	margin-bottom: .5em;
}
.Experience_work > p {
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: .5em;
}
.Experience_work > span {
	color: rgb(10, 143, 10);
}
.Experience_work > div {
    width: 100%; 
	display: flex;
	justify-content: end;
}
.Experience_work >div > a > button {
	border: none;
	padding: .4em;
	border-radius: .5em;
	background-color: rgb(104, 45, 214);
	color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 600px) {
	.Experience_line {
		background: linear-gradient(0deg, rgba(80,34,195,1) 0%, rgba(132,45,253,0.9780287114845938) 59%);
		width: .4em;
		border-radius: 2em;
		position: relative;
		display: flex;
		align-items: start;
		justify-content: center;
	}
}