@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --First-color: #3B82F6;
  --Second-color: hsl(222.2, 84%, 4.9%);
  --Third-color: #F8FAFC;
  --Fourt-color: #94A3B8;
  --Five-color: #1E293B;
  --Text-fijo: white;
  --footer: linear-gradient(rgb(9, 15, 39), rgb(7, 3, 19));
  --Shadow: rgb(44, 44, 87);
  --badrop: rgba(20, 20, 145, 0.127);
  
    
}

[data-theme="dark"] {
  --First-color: #3B82F6;
  --Second-color: #f8f9fa;
  --Third-color: #0a0a10;
  --Fourt-color: #000000;
  --Five-color: #d9dadc;
  --Text-fijo: white;
  --footer: linear-gradient(rgb(9, 15, 39), rgb(7, 3, 19));
  --Shadow: rgba(148, 148, 220, 0.452);
  --badrop: rgba(20, 20, 145, 0.505);
}

html {
  background: var(--Second-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 700;
}

li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
  object-fit: contain;
}

a {
  text-decoration: none;
}

/* Estilo para navegadores basados en WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: var(--Second-color); /* Color del fondo del track del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--First-color); /* Color del "dedo" de la barra */
  border-radius: 10px; /* Bordes redondeados del scrollbar */
  border: 2px solid var(--color4); /* Bordes alrededor del scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color cuando se pasa el mouse sobre el scrollbar */
}
