@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&display=swap');
:root {

  --primary-100:#FF9A76;
  --primary-200:#E4EFE7;
  --primary-300:#E4EFE7;
  --accent-100:#679B9B;
  --accent-200:#e1e4e6;
  --text-100:#37526d;
  --text-200:#a3883d;
  --bg-100:#FFEADB;
  --bg-200:#DFD3C3;
  --bg-300:#C7B198;

  --zposition-first: 1000;
  --zposition-second: 2000;
  --zposition-third: 3000;
  --zposition-fourth: 4000;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
}
img{
  width: 100%;
  display: block;
}
video{
  width: 100%;
  display: block;
 
}
html{
  background-color: var(--bg-100);
}