.About {
  padding: 1em;
  width: 100%;
  padding-bottom: 5em;
  padding-top: 5em;
}

.About_title {
  font-size: 30px;
  text-align: center;
  color: var(--Third-color);
  margin-top: 2em;
}

.About_div {
  width: 100%;
  max-width: 80em;
  margin: auto;
}

.About_div1 {
  display: none;
}

.About_div2 {
	background-color: var(--Second-color);
}

.About_Me {
  color: var(--First-color);
}

.one {
  display: none;
}

.About_div2 > h1 {
	display: none;
}

.About_text {
  font-size: 16px;
  color: var(--Fourt-color);
  font-weight: 100;
  width: 100%;
  margin-top: 1.8em;
  line-height: 29px;
  unicode-bidi: isolate;
}

.About_text > span {
  font-weight: 400;
}

.About_datos {
  margin-top: 1.7em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

.About_datos > div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.About_datos > div > li {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  color: var(--Fourt-color);
}

.About_item {
  color: var(--First-color);
}


@media (min-width: 600px) {
	.About {
		background-color: transparent;
	}

  .one {
    display: block;
  }

  .two {
    display: none;
  }

  .About_text {
    text-align: center;
    width: 100%;
    max-width: 55em;
    margin: auto;
    margin-top: 1.5em;
  }

  .About_datos {
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .About_div {
    display: flex;
    gap: 1em;
    margin-top: 3em;
    align-items: start;
    justify-content: center;
  }

  .About_div1 {
    display: flex;
    width: 100%;
    max-width: 30em;
    margin-left: 3em;
  }

  .About_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .About_img > img {
    max-width: 27.5em;
    border-radius: 0.7em;
  }

  .About_div2 {
    width: 100%;
    max-width: 34em;
  }

  .one {
    display: none;
  }

  .two {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
  }

  .About_div2 > h1 {
	display: block;
	color: var(--First-color);
	margin-bottom: .3em;
  }

  .About_text {
    text-align: start;
    margin-top: 0em;
    font-size: 15.3px;
	line-height: 1.7;
  }

  .About_datos {
    align-items: start;
    justify-content: start;
    flex-wrap: nowrap;
  }

  .About_datos > div > li {
    line-height: 1.4rem;
	font-size: 15px;
  }
}

@media (min-width: 1450px) {
.About_div {
	gap: 3em;
}

  .About_div1 {
    max-width: 33em;
	margin-left: 1em;
  }

  .About_img > img {
    max-width: 32.1em;
  }

  .About_text {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

   .two {
    gap: .5em;
  }

  .About_datos {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

  .About_datos > div > li {
    line-height: 1.5rem;
  }
}
